<div class ="contentstyle">
   <div *ngFor="let x of pro_data" style="border:1px solid silver;width:150px;height:250px;padding-left:20px;float:left;border-radius:5px">
  {{x.pname}}
  <br>
  <img src="../../assets/{{x.image}}" style="width:100px" height="90px">
  <br>
  Price:{{x.price}}
  <br>
  <input type ="button" value ="showmore" class ="btn btn-primary" [routerLink] ="['more',{prod_id:x.pid}]">
  <br><br>
  <input type ="button" value ="Add tocart" class ="btn btn-success">
  </div>
</div>
