<div class ="headerstyle">
 <!-- <img src ="../../assets/shop2.png" style ="width:100px;height:70px">-->
  <div style ="float:right;border-radius:40%;width:30px;height:30px;margin-right:15px;text-align:center;color:white;background-color: brown">
    {{tot_cart_items}}
  </div>
</div>
