
<div>
 <br>   
    <table>
        <!--dipslaying one product info from database-->
        <tr><td rowspan="7"><img src ="../../assets/{{one_prod_info[0].image}}"></td></tr>
        <tr><td>{{one_prod_info[0].pid}}</td></tr>
        <tr><td>{{one_prod_info[0].pname}}</td></tr>
        <tr><td>{{one_prod_info[0].price}}</td></tr>
        <tr><td>{{one_prod_info[0].qty}}</td></tr>
        <tr><td>{{one_prod_info[0].Desc}}</td></tr>
        <tr><td>{{one_prod_info[0].color}}</td></tr>
        <tr><td></td>
            <td><input type ="button" value ="Add to Cart"class ="btn btn-success" (click) ="funadd()"></td></tr>
            <br>
    </table>
</div>